body{
    background: #cccccc;
    color: #333;
    margin:1em 10%;
}
h1{
    color:#333;
    background: transparent;
}
a{
    color:#c60;
    background: transparent;
    font-weight: bold;
    text-decoration: none;
}
ul{
    padding:0;
}
li{
    float:left;
    padding: 1em;
    list-style: none;
}
img{
    display: block;
    clear: :both;
}